.loginDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 35px;
  background: #ffffff;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  padding: 20px;
  width: 631px;
  height: 386px;
}

.MainLoginDiv {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.loginLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  letter-spacing: -0.25px;

  color: #7e88c3;
}

.miniDivLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginInput {
  background-color: #ffffff;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
  padding: 16px 20px;
  width: 350px;
  border: 1px solid #ccc;
}

.loginInput:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.forTitle {
  text-align: start;
  display: block;
  margin-right: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  letter-spacing: -0.5px;

  color: #0c0e16;
}

.loginButton {
  background: #7c5dfa;
  border-radius: 24px;
  border: none;
  width: 84px;
  height: 48px;
  color: white;
  background: #7c5dfa;
  border-radius: 24px;
  margin-left: 270px;
  cursor: pointer;
  transition: all 0.5s;
}

.loginButton:hover{
    background: #3b0fed;
    font-size: 16px;
}
